@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #717182;
  --experience-card-text-color: #717182;
  --header-text: #000000;
  --line-color: #ececf0;
  --about-bg: #ececf0;
  --learning-card-bg: #ffffff;
  /* --card-text: #717182; */
}

.dark {
  --bg-color: oklch(0.145 0 0);
  --learning-card-bg: oklch(0.145 0 0);
  --about-bg: oklch(30.726% 0.00286 16.641);
  --card-text: #000000;
  --text-color: #ffffff;
  --experience-card-text-color: #000000;
  --header-text: #ffffff;
  --form-color: #cce6ff;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

.line {
  border-bottom: 1px solid var(--line-color);
}

.headers {
  color: var(--header-text);
}

.text-hover:hover {
  color: #474646;
}
.card-text {
  color: var(--card-text);
}
.card-hover:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.bg-background {
  background: var(--bg-color);
}
.bg-about {
  background: var(--about-bg);
}
.experience-card {
  color: var(--experience-card-text-color);
  color: var(--experience-card-text-color);
}
.form-color {
  color: var();
}
